* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
  color: #000;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0f171e;
  color: white;
  padding: 15px 30px;
}

.navbar .logo {
  font-size: 20px;
  color: #1a98ff;
  font-weight: bold;
  text-transform: lowercase;
  cursor: pointer;
}

.navbar nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar nav ul li {
  cursor: pointer;
}


.join-btn {
  background-color: #1a98ff;
  color: white;
  padding: 8px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.join-btn {
  background-color: #1a98ff;
  color: white;
  padding: 8px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.join-items {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
    margin: 0;
    align-items: center;
}
.join-link {
  background-color: none;
  color: rgb(255, 255, 255);
  padding: 8px 16px;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 20px;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
}
.join-btn:hover {
  transform: scale(1.05);
  background-color: none;
  color: #000
}

.Home-btn:hover {
  transform: scale(1.05);
  background-color: none;
  color: #000
}

.Home-btn {
  background-color: #1a98ff;
  color: white;
  padding: 8px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.hero {
  text-align: center;
  padding: 40px 20px;
  background: linear-gradient(to bottom, #009edb, rgb(0, 0, 0));
}

.hero h2 {
  margin-bottom: 20px;
}

.store-buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}

.store-buttons img {
  height: 50px;
  cursor: pointer;
}

.store-buttons .galaxy {
  height: 45px;
}

.watch-anywhere {
  padding: 30px 20px;
  border-radius: 10px;
  text-align: center;
  font-size: 16px;
  background-color: rgb(0, 0, 0);
}

.watch-anywhere a {
  color: #ffffff;
  text-decoration: none;
}
.sub-header{
    text-align: center;
    padding: 10px 20px;
    font-size: 11px;
    font-weight: 500;border-bottom: 1px solid #ccc;
    background-color: #1a98ff;
}
.movie-section {
  padding: 50px;
  background-color: #1a98ff;
  color: white;
}

.movie-section h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}
.movie-row {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 30px;
  justify-content: center;
}
.movie-section img {
  width: 130px;
  height: 190px;
  object-fit: cover;
  cursor: pointer;
  border-radius: 8px;
  transition: transform 0.3s;
}
.movie-row img {
  width: 150px;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.movie-section img:hover {
  transform: scale(1.05);
}
.nav-items {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
    margin: 0;
    align-items: center;
}
.nav-link {
  background-color: none;
  color: rgb(255, 255, 255);
  padding: 8px 16px;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 20px;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
}
.nav-btn:hover {
  background-color: #e6e6e6;
  color: #000
}
.section-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: left;
  padding-left: 20px;
}
